body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .icon-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.table-striped tbody tr {
  border-bottom: 1px solid #bac2c9; /* Adjust the color as needed */
}

.table-striped tbody tr:last-child {
  border-bottom: none; /* Remove bottom border for the last row */
}